Repository i-znl/insolar, changes with the owners that .github/CODEOWNERS names for each.
All owners: @LinnikD, @andreyromancev, @dmitry-panchenko

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

application/**                          @LinnikD
ledger/**                               @andreyromancev
network/**                              @dmitry-panchenko
core/**                                 @andreyromancev

transport uml
  uml/newtransport.puml
  uml/transport-seq.puml
  uml/transport.puml
Owners: none

WLT-231: create member method
  application/contract/account/account.go
  application/contract/ethstore/ethstore.go
  application/contract/member/member.go
  application/contract/rootdomain/rootdomain.go
  application/proxy/account/account.go
  application/proxy/ethstore/ethstore.go
  application/proxy/member/member.go
  application/proxy/rootdomain/rootdomain.go
Owners: @LinnikD

WLT-231: create member method
  application/contract/ethstore/ethstore.go
  application/contract/member/member.go
  application/contract/rootdomain/rootdomain.go
  application/proxy/account/account.go
  application/proxy/ethstore/ethstore.go
  application/proxy/member/member.go
  application/proxy/rootdomain/rootdomain.go
  genesis/config.go
  genesis/genesis.go
  genesis/helpers.go
  scripts/insolard/genesis.yaml
  scripts/insolard/oracles_generate.sh
Owners: @LinnikD

NOISSUE: Add test belt implementation.
  Gopkg.lock
  ledger/artifactmanager/belt_handlers.go
  ledger/artifactmanager/conver/mware.go
  ledger/artifactmanager/conver/sorter.go
  ledger/artifactmanager/handler.go
  ledger/ledger.go
  ledger/pulsemanager/pulsemanager.go
  logicrunner/artifacts/tmpledger.go
Owners: @andreyromancev

log jet misses, we see retries limits exceeded
  ledger/artifactmanager/artifactmanager_senders.go
  ledger/artifactmanager/handler.go
  ledger/artifactmanager/middleware.go
Owners: @andreyromancev

debug logging to catch problem
  ledger/jetcoordinator/jetcoordinator.go
Owners: @andreyromancev

timestamp format for zerolog
  log/zerolog.go
Owners: none

INS-2206: Add watermill draft.
  Gopkg.lock
  insolar/bus/bus.go
  insolar/bus/handle.go
  insolar/bus/tcp/publisher.go
  insolar/bus/tcp/subscriber.go
Owners: none

NOISSUE: Break middleware into handlers.
  Gopkg.lock
  ledger/artifactmanager/belt_handlers.go
  ledger/artifactmanager/conver/mware.go
  ledger/artifactmanager/conver/sorter.go
  ledger/artifactmanager/handler.go
Owners: @andreyromancev

WLT-281: oracles keys
  application/contract/allowance/allowance.go
  application/proxy/ethstore/ethstore.go
  application/proxy/member/member.go
  application/proxy/rootdomain/rootdomain.go
  genesis/config.go
  genesis/genesis.go
  genesis/helpers.go
  scripts/insolard/genesis.yaml
Owners: @LinnikD

transport uml
  uml/newtransport.puml
  uml/transport-seq.puml
  uml/transport.puml
Owners: none

uml2
  uml/newtransport.puml
  uml/transport-seq.puml
Owners: none
